
@font-face {
    font-family: 'guido2';
    src: url('guido2-webfont.woff2') format('woff2'),
         url('guido2-webfont.woff') format('woff'),
    	 url('guido2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}