
    body {
      font-family: Arial, sans-serif;
      font-size: 24pt;
      display: block;
      /* flex-direction: column;  */
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: #f4f4f9;
      margin-left: 20px;
    }
    h1 {
      margin-bottom: 20px;
    }
    .menu {
      margin: 5px 0;
    }
    select {
      padding: 8px;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid #ccc;
      background-color: white;
    }
    label {
      margin-right: 10px;
      font-weight: bold;
    }

table {
  margin-left: 10vw;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}


.header {
  position: relative;
  margin-left: 40vw;
  margin-top: 5vh;
}

.scale {
	/* display: flex; */
	margin: auto;
	width: 50vw;
}

.chord {
	margin: auto;
	width: 25vw;
}

.float {
  float: inline-start;
  margin-left: 10vw;
  font-size: 20pt;
}

@media only screen and ((max-width: 510px) or (max-height: 500px))  {
    body {
      font-size: 18pt;
      margin-left: 15px;
    }
    .header {
      margin-left: 10vw;
      margin-top: 5vh;
  }
}