
    body {
      font-family: Arial, sans-serif;
      display: block;
      /* flex-direction: column;  */
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: #f4f4f9;
      margin-left: 20px;
    }
    h1 {
      margin-bottom: 20px;
    }
    .menu {
      margin: 5px 0;
    }
    select {
      padding: 8px;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid #ccc;
      background-color: white;
    }
    label {
      margin-right: 10px;
      font-weight: bold;
    }

.header {
  position: relative;
  margin-left: 45vw;
  margin-top: 10vh;
}

.guido-code {
	/* display: flex; */
	margin: auto;
	height: 20%;
	width: 40%; 
}

.scale {
	/* display: flex; */
	margin: auto;
	height: 10vh;
}

.chord {
	margin: auto;
	height: 10vh;
}
